STRAPI_HOST=0.0.0.0
STRAPI_PORT=1337
STRAPI_APP_KEYS=change_me_1,change_me_2,change_me_3,change_me_4
STRAPI_API_TOKEN_SALT=change_me
STRAPI_ADMIN_JWT_SECRET=change_me
STRAPI_TRANSFER_TOKEN_SALT=change_me
STRAPI_JWT_SECRET=change_me
STRAPI_ENCRYPTION_KEY=change_me

DATABASE_CLIENT=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=bakery
DATABASE_USERNAME=bakery_user
DATABASE_PASSWORD=change_me
DATABASE_SSL=false

MINIO_ROOT_USER=change_me_admin
MINIO_ROOT_PASSWORD=change_me_strong_password
MINIO_BUCKET=bakery-media
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_REGION=us-east-1
MINIO_PUBLIC_URL=http://localhost:9000/bakery-media
MINIO_USE_SSL=false
